@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(https://fonts.cdnfonts.com/css/mesa-grande);
@import url(https://fonts.cdnfonts.com/css/marvelan);
@font-face {font-family: "Mesa Grande";
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot");
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot?#iefix")
                format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff2")
                format("woff2"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff")
                format("woff"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.ttf")
                format("truetype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.svg#Mesa Grande")
                format("svg"); }

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin: 0;
  font-family: Sulphur Point;
  background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 4)
        ), url("../images/SoundproofBGDark.png");
}

.shopping-cart {
  position:relative;
  width: 750px;
  height: 500px;
  margin: 80px auto;
  background: #996600;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  font-size: 24px;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("../images/delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footer {
  position:absolute;
  padding: 20px 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #E1E8EE;
  color: black;
  text-align: center;
}


@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 20px;
  margin-left: -40px;
  
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #000000;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  font-weight: 300;
}

.cart-quantity{
    
}

.right{
    float:right;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .item,
  .cart-price,
  .cart-quantity {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  
}
