@import url(https://fonts.cdnfonts.com/css/mesa-grande);
@import url(https://fonts.cdnfonts.com/css/marvelan);
@font-face {font-family: "Mesa Grande";
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot");
            src: url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.eot?#iefix")
                format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff2")
                format("woff2"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.woff")
                format("woff"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.ttf")
                format("truetype"), url("//db.onlinewebfonts.com/t/0eda4cf01c6a2808f17a221264758def.svg#Mesa Grande")
                format("svg"); }
header {
    background-image: url("../images/navbar/Header.jpg");
    background-size: cover;
    background-color: #ffe6bf;
    height: 100px;
    width: 100%;
    padding: 0 8%;
    position: fixed;
    top: 0;
    z-index: 3;
}
.logo {
    padding-top: 3px;
    width: 90px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    margin-top: 10px;
    padding: 28px 10px;
    font-family: 'Mesa Grande', sans-serif;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #ffe4bc;
    padding: 5px 0;
    position: relative;
    font-size: 20px;
}
.nav-links li a::after{
    content: '';
    background: gold;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.searchIcon {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.searchBar {
     width: 150px;
    height: 30px;
    font-size: 17px;
    display: in-line;
    border-radius: 5px;
}