.sidebar {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 175px;
    bottom: 0px;
    height: 100%;
    display: flex;
    z-index: 1;
    position: absolute;
    align-items: flex-start;
    border-color: #ffe6bf;
    border-width: 2px;
    flex-direction: column;
    background-color: #252524;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
#sidebutton {
    color: #6d6857;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Sulphur Point;
    font-weight: 400;
    margin-left: 20px;
}
#sidebutton-highlight {
    color: #ffe6bf;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Sulphur Point;
    font-weight: 400;
    margin-left: 20px;
}

a { color: #6d6857; text-decoration: none }
a:active { color: #ffe6bf; text-decoration: none }
a:visited {
    color:#6d6857;
    outline: none;
    text-decoration: none
}

.guitar {
    margin-top: 130px;
    margin-left: 20px;
}
.bass-guitar, .drums, .keyboards, .amplifiers, .accessories {
    margin-top: 25px;
    margin-left: 20px;
}
.bass-guitar {
    top: 150px;
    left: 0px;
}
.drums {
    top: 200px;
    left: 0px;
}
.keyboards {
    top: 250px;
    left: 0px;
}
.amplifiers {
    top: 300px;
    left: 0px;
}
.accessories {
    top: 350px;
    left: 0px;
}

@media(max-width: 767px) {
    .sidebar {
      display: none;
  }
}